Django==6.0.4
pandas>=2.0
numpy>=1.25
openpyxl>=3.0
statsmodels>=0.14
scipy>=1.10

# Optional (only needed if using MySQL backend)
# mysqlclient>=2.1

# Production / Render dependencies
gunicorn>=20.1.0
whitenoise>=6.0
dj-database-url>=1.0
psycopg2-binary>=2.9
